header {
width:80% ;    height: 150px ;
font-family: Verdana;
font-size: 20px;
background-color: rgb(152, 188, 230)   
}
footer {
width:80% ;    height: 150px ;
background-color: rgb(152, 188, 230) 
}
h1 {
text-align: center;    
color: aliceblue;    
}
table {
width:80% ;   height: 350px; 
font-family: Verdana;
}
td {
text-align: center;    
}
#een {
color: rgb(0, 255, 76);    
background-color:  rgb(51, 51, 228)  
}
#twee {
background-color:   lightblue
}
#drie {
color: beige;
background-color:rgb(185, 72, 72)  
}
#vier {
background-color: rgb(224, 155, 155);    
}
#vijf {
color: blue;    
background-color: rgb(251, 240, 255);    
}
#zes {
background-color: rgb(217, 228, 228);    
}
#zeven {
color: darkgreen;    
background-color: beige;    
}
#acht {
background-color: lightgoldenrodyellow;    
}
#negen {
color: lightsalmon ;    
background-color: rgb(93, 95, 82);    
}
#tien {
background-color: rgb(224, 229, 183);    
}
#elf {
color: darkred;    
background-color: greenyellow;    
}
#twaalf {
background-color: rgb(177, 222, 135);    
}
#dertien {
color: rgb(223, 214, 214);    
background-color: brown;    
}
#veertien {
background-color: rgb(233, 124, 142);    
}
#vijftien {
color:rgb(5, 5, 196);    
background-color: rgb(235, 204, 209) ;    
}
#zestien {
background-color: rgb(197, 149, 177);    
}
